<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic), class: 'btn btn-primary' %> |
<%= link_to 'Back', topics_path, class: 'btn btn-warning' %>
<%= link_to 'Destroy', @topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger' %>
